body{
	background: #0fa63c;

}

*{
	margin: 0;
	padding: 0;
}

#block-body{
	width: 1035px;
	margin: 5px auto;
	height: auto;
}

header{
	width: 1035px;
	height: 80px;
	background-color: #007B25;
	border-width: 2px;
	border-color: black;
}

.logo{
	width: 200px;
	float: left;
	height: 80px;
}

.logo{
	width: 200px;
	height: 50px;
	background-image: url(icons/patterns/logo.png);
	display: block;
	margin-left: 15px;
	margin-top: 15px;
	cursor: pointer;
}

.top-menu{
	width: 685px;
	height: 80px;
	float: left;
}

.top-menu ul li{
	list-style: none;
	float: left;
	margin-left: 30px;
	text-align: center;
}

.top-menu ul li a{
	display: block;
	width: 171px;
	text-decoration: none;
	font-family: "Roboto-Light", sans-serif;
	font-size: 17px;
	color: white;
	height: 55px;
	padding-top: 30px;
	cursor: pointer;
	caret-color: transparent;
}

.top-menu ul li a:hover{
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}

.block-top-auth{
	width: 100px;
	float: left;
	margin-left: 10px;
	height: 80px;
}

.block-top-auth p{
	margin-top: 12px;
	text-align: center;
	margin-bottom: 8px;
}

.block-top-auth a{
	text-decoration: none;
	color: white;
	font-family: "Roboto-Thin", sans-serif;
	font-size: 15px;
	cursor: pointer;
	caret-color: transparent;
}

.block-top-auth a:hover{
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}

/**/

content{
	width: 1035px;
	margin: 5px auto;
	height: auto;
}

.container{
	width: 800px;
	height: 500px;
	background-color: #007B25;
	border-width: 2px;
	border-color: black;
	margin: 0 auto;
}

.container a{
	position: relative;
	text-decoration: none;
	color: white;
	font-family: "Roboto-Thin", sans-serif;
	font-size: 15px;
	cursor: pointer;
	caret-color: transparent;
	top: 20px;
}
